{{- define "main" }}
<main>
    <article>
        {{- if .Title }}
        <h1 class="post-title">{{ .Title }}</h1>
        <p class="post-date">{{ .Date.Format "1/2/2006" }} <span class="sep">&bull;</span> {{ .ReadingTime }} min read</p>
        {{- else }}
        <p class="post-date btm-margin">{{ .Date.Format "Monday, January 2, 2006" }}</p>
        {{- end }}
        {{- with .Params.audio }}
        <script type="text/javascript" src="https://micro.blog/narration.js?url={{ . }}"></script>
        {{- end }}
        {{ .Content }}
        {{- if isset .Params "categories" }}
        <p class="categories">
        {{- range $index, $category := .Params.categories }}
            {{- $href := printf "/categories/%s" (urlize $category) | absURL }}
            <a href="{{ $href }}" class="category">{{ $category }}</a>
        {{- end }}
        </p>
        {{- end }}
    </article>
    <nav class="main-nav">
        <ul>
            <li>{{ if .PrevInSection }}<a href="{{ .PrevInSection.Permalink }}">← Older</a>{{ end }}</li>
            <li>{{ if .NextInSection }}<a href="{{ .NextInSection.Permalink }}">Newer →</a>{{ end }}</li>
        </ul>
    </nav>
    {{- end }}
</main>
{{- end }}
